<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des réservations</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-4">
        <h1>Liste de vos réservations</h1>
        <ul class="list-group">
            {% for reservation in reservations %}
            <li class="list-group-item">
                Réservation {{ reservation.id }} <br>
                {{ reservation.trajet }}
                <a href="{% url 'trajets:reservation_detail' reservation.id %}"
                    class="btn btn-primary float-right">Détails</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'trajets:trajets' %}" class="btn btn-secondary mt-3">Retour à la liste des trajets</a>
    </div>
</body>

</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Reservation</title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" 
            class="btn btn-primary mt-3">Edit Reservation</button>
    </form>
</body>

</html>
