<html lang="en">

<body>
    {% if user.is_authenticated %}
    Bienvenue, {{ user.username }}!
    <a class="logout-button" href="{% url 'logout' %}">Déconnexion</a>
    {% else %}
    <a class="login-button" href="{% url 'login' %}">Connexion</a>
    <a class="login-button" href="{% url 'register' %}">S'inscrire</a>
    {% endif %}
</body>

<div class="navbar">
    <ul>
        {% if user.is_authenticated %}
        <li><a href="http://localhost:8000/trajects/reservations">Mes réservations</a></li>
        {% endif %}
    </ul>
</div>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des trajets</title>
</head>

<body>
    <h1>Liste des trajets disponibles</h1>
    <ul>
        {% for trajet in trajets %}
        <li>{{ trajet.gare_depart }} - {{ trajet.gare_arrivee }}</li>
        {% endfor %}
    </ul>
</body>


</html>